@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 16px;
}

header .logo>img {
    width: 60px;
}

header .menu {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 500;
}

header .menu a {
    color: white;
    text-decoration: none;
    padding: 3px;
    position: relative;
}

header .menu a::after {
    content: ' ';
    width: 0%;
    height: 5px;
    background-image: linear-gradient(to right, #F29422, #8C4C14);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

header .menu a:hover::after {
    width: 105%;
}

/* ----slider CSS---- */

.slider {
    height: 130vh;
    margin-top: -50px;
    position: relative;
    background-image: url(imagens/fundo-popup-m.jpg);
    background-image: linear-gradient(to top, black, rgba(255, 255, 255, transparent 100%));
    background-size: 100vh;
    background-position: center;
    text-align: center;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
    text-align: center;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

.slider .list .item>img {
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-50% -50%);
    margin: auto;
    width: 50%;
    margin-top: -60px;
    object-fit: cover;
    border-radius: 15px;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 0%, transparent, transparent);
}

.slider .list .item .box1 {
    position: absolute;
    width: 200px;
    min-height: 300px;
    background: rgba(0, 0, 0, .75);
    border-radius: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 32%;
    left: 5%;
    overflow: hidden;
    z-index: 2;
}

.slider .list .item .box1::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 450px;
    background-image: conic-gradient(transparent, transparent, transparent, #F29422 95%);
    animation: animate 4s linear infinite;
}

.slider .list .item .box1::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #F29422 95%);
    transform: rotate(180deg);
}

.slider .list .item .box1 .content {
    margin: 0;
    padding: 0;
    position: absolute;
    padding: 5px;
    inset: 5px;
    background: url(imagens/fundo-box.jpg);
    color: #000;
    border-radius: 0 16px;
    z-index: 1;
}

.slider .list .item .box2 {
    position: absolute;
    width: 200px;
    min-height: 300px;
    background: rgba(0, 0, 0, .75);
    border-radius: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 32%;
    right: 4.5%;
    overflow: hidden;
    z-index: 2;
}

.slider .list .item .box2::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #F29422 95%);
    transform: rotate(180deg);
}

.slider .list .item .box2::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #F29422 95%);
    transform: rotate(0deg);
}

.slider .list .item .box2 .content {
    margin: 0;
    padding: 0;
    position: absolute;
    padding: 5px;
    inset: 5px;
    background: url(imagens/fundo-box.jpg);
    color: #000;
    border-radius: 0 16px;
    z-index: 1;
}

.slider .list .item .content>h2,
.slider .list .item .ingredients>h2 {
    font-family: "Alkatra", system-ui;
    font-size: 30px;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    font-weight: bolder;
    color: black;
    margin: 0;
}

.slider .list .item .box1 .content p,
.slider .list .item .box2 .content p {
    font-weight: bold;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p,
.slider .list .item.active h2,
.slider .list .item.active p {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .4s .6s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: .8s;
}

.slider .list .item.active p {
    animation-duration: 1s;
}

.arrows .prev {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 100;
}

.arrows .next {
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 100;
}

.arrows button {
    background-color: #f29422a8;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: larger;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.arrows button:hover {
    background-image: radial-gradient(#F29422, #8C4C14);
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 0%;
    margin-bottom: -80px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 100px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    cursor: pointer;
    filter: brightness(.5);
    flex-shrink: 0;
}

.thumbnail .item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.thumbnail .item:hover {
    transform: scale(1.1);
    filter: brightness(1);
}

.thumbnail .item:active {
    transform: scale(.9);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto auto 10px auto;
    font-family: Poppins;
    font-size: small;
    background-color: #0000008d;
    width: 100%;
}

@media screen and (max-width: 678px) {



    header .menu a {
        font-size: small;
        font-weight: bold;
    }

    header .logo img {
        width: 50px;
    }

    .slider {
        height: 110vh;
    }

    .slider .list .item.active>img {
        display: block;
        position: absolute;
        top: 17%;
    }

    .slider .list .item .box1,
    .slider .list .item .box2 {
        width: 170px;
        min-height: 270px;
        font-size: 0.9em;
        margin-top: 30px;
    }

    .slider .list .item .box1 .content h2,
    .slider .list .item .box2 .content h2 {
        font-size: 25px;
        font-weight: bolder;
    }

    .slider .list .item .box1 .content p,
    .slider .list .item .box2 .content p {
        font-size: 0.95em;
    }

    .arrows {
        top: 23.5%;
        right: 1%;
    }

    .thumbnail {
        justify-content: start;
    }


}